.clear {
	clear: both;
}

body, html {
	font-family: Helvetica, sans-serif;
	background-color: #f3f3f3;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Rokkitt, sans-serif;
	color: #444444;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #181818;
}

#cv {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDetails {
	border-bottom: 2px solid #cf8a05;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
	margin-top: 30px;
}

#headshot img {
	border-radius: 100%;
}

#name {
	text-align: left;
	margin: 15px 0;
	font-size: 3rem;
	font-weight: bold;
}

#name h2 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: normal;
}

#contactDetails {
	text-align: center;
	line-height: 22px;
	margin: 10px 0;
	font-size: 1.1rem;
	color: #181818;
}

#mainArea {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 100%;
}

.topic {
	margin: 20px;
	font-style: italic;
	font-size: 1.7rem;
	font-family: Rokkit, sans-serif;
	width: auto;
	color: #cf8a05;
}

article h2 {
	margin: auto;
}

.sectionContent p {
	margin: 8px;	
}

.sectionContent {
	padding-bottom: 15px;
	
	display: flex;
}

.sectionContent h2 {
	font-size: 1.8rem;
    margin: 0 10px 8px;
}

.subDetails {
	
	color: #181818;
	font-size: large;
	margin-bottom: 10px;
	font-size: 0.9rem;
	font-style: italic;
}

#gridList {
    width: inherit;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
	border-bottom: 1px solid #dedede;
}

.keySkills {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	list-style-type: none;
}

.keySkills * {
	margin: 20px 30px;
}

#lastSection {
	display: flex;
	flex-direction: column;
	
}

.newDisplay {
	border-bottom: 1px solid #dedede;
}

#lastChild {
	border: none;
}


/* ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 1000px) {

	#top {
		width: 80%;
		margin: auto;
	}

	#mainArea {
		text-align: left;
		margin-top: 30px;
	}

	.mainDetails {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 0fr 0.5fr 1fr 0.1fr;
		width: 100%;
		justify-content: start;
		margin-top: 100px;
		padding-bottom: 30px;
		padding-left: 30px;
		justify-items: end;
		align-items: center;
	}

	#contactDetails {
		text-align: left;
	}

	img {
		height: 100px;
	}

	#name h2 {
		text-align: left;
	}

	.newDisplay {
		display: flex;
		width: 100%;
		margin: auto;
		flex-direction: row;
		
	}

	.topic {
		text-align: left;
		padding: 0;
		margin: 0;
		font-size: 1.4rem;

	}

	.sectionTitle {
		width: 21%;
		margin: 10px 0;
	}

	#firstText {
		margin-top: 12px;
	}

	.sectionContent h2 {
		margin: 10px 10px -10px;
	}
	

	.pcAlign {
		text-align: left;
	}

	.sectionContent p {
		margin: 10px 10px;
		padding: 0;
	}

	.sectionContent {
		width: 70%;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
	}
	
	#gridList {
		flex-direction: row;
		align-items: flex-start;
		margin: 20px 0;
	}
	
	.keySkills {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.keySkills * {
		margin: 4px 0;
	}



}

/* ------------------------------------------------------------------- */